:root{
    --topbarWidth:80px;
    --col_normalTXT:#ecf0f1;
    --col_bold_TXT:#bdc3c7; 
    --col_highlight_TXT:#f39c12;
    --col_btn:#009cda; 
    --col_success:#00d573; 
    --col_error:#ff2225; 
    --col_dark:#1b1b1b; 
    --col_dark_light:#212122; 
    --col_accent_1:#c6bdff;
    --col_accent_1_dm:#6a5276; 
    --col_accent_2:#f2c2ff;
    --col_accent_2_dm:#705e76; 
    --col_accent_3:#e2a3ff; 
    --col_accent_3_dm:#5f5c76;
    --col_accent_4:#d5cffe; 
    --col_accent_4_dm:#656376; 
    --col_accent_5:#f39c12;
    --col_accent_6: #1b1b1b;
    --col_accent_7:#009cda; 
    --CornerRad:4px; 
    --ElementPadding:8px;   
    --ElementPadding_Cozy:16px; 
}

body{
    background-color:var(--col_dark_light);
}






